* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: snow;
    font-family: "Cambria", "Helveica Neue", sans-serif;
}

p {
    min-width: 14rem;
}

/*img {
    margin: 0rem 4rem;
}*/

/*p {
    padding: 2rem 4rem;
    background-color: #165B33;
}*/

/*  K L A S S E N  */

.body {
    display: flex;
    flex-direction: column;
    color: darkgrey;
    background-color: #146B3A;
}

.links {
    display: flex;
    width: 20rem;
    justify-content: center;
}

.navbut {
    text-align: center;
    color: #F8B229;
    text-decoration: none;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #EA4630;

}

.navbut:hover {
    background-color: #BB2528;
    color: snow;
}

.fenster {
    color: darkgrey;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.nummer {
    text-decoration: none;
    font-family: "Impact";
    font-size: 1.5rem;
    width: 5rem;
    padding: 10rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: #146B3A;
    color: darkgrey;
}

.nummer:hover {
    /*background-color: #165B33;*/
    background-color: rgb(17, 71, 40);
    color: snow;
}

.nummer:visited{
    background-color: #165B33;
    color: #BB2528;
    border: #165B33 0.5rem;
}

.nummer:visited > .nummer:hover{
    background-color: #165B33;
    color: #BB2528;
    border: #165B33 0.5rem;
}

.header {
    font-family: "Roboto", sans-serif;
    color: #F8B229;
    background-color: #BB2528;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.menue {
    width: 56.25rem;
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 1rem;

}

/* T Ü R C H E N S E I T E N */

.title {
    margin: 2rem;
    display: flex;
    justify-content: center;

}

.foto {
    /*border-radius: "70%";*/
}

.absatz {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 4rem;
    background-color: #165B33;
    max-width: 56.25rem;
}

.playlist {
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.playlist a {
    max-width: 15rem;
    text-decoration: none;
    padding: 2rem;
    background-color: darkgrey;
    color: #146B3A;
    display: flex;
    justify-content: center;
}

.playlist a:hover {
    background-color: royalblue;
    color: gold;
}

.riddle {
    margin: 2rem;
    display: flex;
    justify-content: center;
}
